<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body style="display: flex; align-items: center; justify-content: center; flex-direction: column;">
  <h3> Skill Name </h3>
<form action="/skills/new" method="POST">
<div>
  <label for="">name : </label><input type="text" name="name" >
</div>
<div>
  <label for="">description : </label><input type="text" name="description" >
</div>
<button type="submit" >ADD!</button>
</form>
</body>
</html>