<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body style="display: flex; align-items: center; justify-content: center; flex-direction: column;">
  <h3><%= skills.name %></h3>
  <h3>Expert: <%= skills.expert ? 'Yes' : 'No' %></h3>
  <h3>Description: <%= skills.description  %></h3>
</body>
</html>